/* Police de la page */

@font-face {
  font-family: "Roboto Regular";
  src: url("Roboto-Regular.ttf");
}

body {
  font-family: "Roboto Regular", sans-serif;
}
.Profil {
  color: black;
}
.Profil a {
  color: black;
}
.Profil a:hover {
  color: white;
}
.Icon-User {
  display: inline;
  padding: 17px 0px;
}

.Message-Bienvenue {
  color: black;
  font-size: 1.2rem;
  width: 200px;
}
.Message-Bienvenue:hover {
  color: white;
}
.Container-Article {
  display: flex;
  flex-wrap: wrap;
}

.Article {
  text-decoration: none;
  box-shadow: 1px 1px 3px 3px black;
  background: white;
  position: relative;
  width: 40%;
  margin: 50px;
  padding: 10px;
}
.UnArticle {
  text-decoration: none;
  box-shadow: 1px 1px 3px 3px black;
  background: white;
  position: relative;
  width: 40%;
  margin: 50px auto;
  padding: 10px;
}
.Div-Image {
  text-align: center;
}
.Div-Image img {
  width: 60%;
  height: auto;
  box-shadow: 1px 1px 10px black;
  border: 1px solid black;
  text-align: center;
}

.Article-date {
  font-weight: bold;
  font-style: italic;
}
.Article-texte {
  font-style: italic;
  font-size: 1rem;
  text-align: justify;
}
.Textarea-Article {
  padding: 15px;
}
.BouttonValider {
  border: none;
  background: transparent;
  margin: 0px auto;
  color: black;
}

.Like,
.Dislike {
  border: none;
  background: none;
  margin: 0px 10px 0px 0px;
}

.Like:focus {
  color: green;
}
.Dislike:focus {
  color: red;
}

.AdminIcon {
  position: absolute;
  color: black;
  top: 1px;
  right: 2px;
  background: none;
  border: none;
}
.AdminIcon:hover {
  color: red;
}
.Boutton-Commentaires {
  display: flex;
  margin: 0px auto;
}

.BouttonDelete,
.BouttonModifier {
  background: none;
  border: none;
  color: black;
}
.Date-Italic {
  font-style: italic;
}

.InputImage {
  color: white;
}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-brand:focus {
  border-bottom: 3px solid rgb(0, 84, 180);
}

.navbar-brand img {
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
}
#MyForum .navbar-nav .nav-item a {
  color: white;
  text-decoration: none;
}

#MyForum p {
  color: black;
}

#MyForum .navbar-nav .nav-item:hover {
  color: rgb(0, 84, 180);
}

.navbar-nav .nav-item a {
  color: black;
  text-decoration: none;
  width: 150px;
}

#deconnexion .dropdown-item:focus {
  border-bottom: 3px solid rgb(0, 84, 180);
  background: grey;
}

#deconnexion .dropdown-item:hover {
  background: rgb(0, 84, 180);
  width: 90%;
}

h1 {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  padding: 50px 0px;
  background: #838383;
  box-shadow: 0px 0px 5px 10px #1f1e1e;
}

.H1Signup,
.H1Login {
  margin: 0px auto 50px auto;
  padding: 20px 0px;
  text-align: center;
  background: #838383;
  box-shadow: 0px 0px 5px 10px #1f1e1e;
}

.message {
  margin-top: 20px;
  font-size: 17px;
}

.valid {
  color: green;
  position: relative;
  left: 0px;
  content: "✔";
  margin: 0px 15px;
}

.invalid {
  color: red;
  position: relative;
  left: 0px;
  content: "✖";
  margin: 0px 15px;
}

a {
  margin: 10px;
  text-decoration: none;
}

.Menu {
  background: #868686;
  box-shadow: inset 0px 0px 10px 10px #000;
}
.Main-Article {
  background: #868686;
}

.pageMyForums h2 {
  color: black;
  text-align: center;
}
.pageMyForums,
.pageNewCommentaire {
  box-shadow: inset 0px 0px 10px 10px #444;
}

@media screen and (min-width: 769px) and (max-width: 1089px) /* styles pour tablettes*/ {
  .navbar-brand {
    width: 50%;
  }
  .navbar-brand img {
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  .Article,
  .UnArticle {
    width: 80%;
    margin: 20px auto;
  }
  .Article img,
  .UnArticle img {
    width: 50%;
    height: auto;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) /* styles pour mobile paysage + Portrait*/ {
  .navbar-brand {
    width: 50%;
  }
  /* Afficher la marque ou le nom du site avec Bootstrap. Ici j'affiche l'image du logo Groupomania */
  .navbar-brand img {
    width: 75%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  .Article,
  .UnArticle {
    width: 80%;
    margin: 20px auto;
  }
  .Article img,
  .UnArticle img {
    width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 414px) /* styles pour mobile petit écran paysage+Portrait*/ {
  .navbar-brand {
    width: 50%;
  }
  /* Afficher la marque ou le nom du site avec Bootstrap. Ici j'affiche l'image du logo Groupomania */
  .navbar-brand img {
    width: 75%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  .Article,
  .UnArticle {
    width: 80%;
    margin: 20px auto;
  }
  .Article img,
  .UnArticle img {
    width: 60%;
    height: auto;
  }
}
